<footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
        <div class="icons">
            <fa-icon [icon]="faLinkedin" size="3x" [styles]="{'stroke': 'white', 'color': 'white'}"></fa-icon>
            <fa-icon [icon]="faTwitter" size="3x" [styles]="{'stroke': 'white', 'color': 'white'}"></fa-icon>
            <fa-icon [icon]="faDiscord" size="3x" [styles]="{'stroke': 'white', 'color': 'white'}"></fa-icon>
            <fa-icon [icon]="faFacebook" size="3x" [styles]="{'stroke': 'white', 'color': 'white'}"></fa-icon>
            <fa-icon [icon]="faCopyright" size="3x" [styles]="{'stroke': 'white', 'color': 'white'}"></fa-icon>
        </div>
        <div class="text-muted text-center">Muse de poche 2021 - Tous droits réservés</div>
    </div>
</footer>