<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Muse de Poche</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a routerLink="" class="nav-link px-2 text-white">Accueil</a></li>
                <li *ngIf="isSignin()" class="nav-item"><a routerLink="dashboard" class="nav-link px-2 text-white">Profil</a></li>
                <li *ngIf="isSignin()" class="nav-item"><a routerLink="editor" class="nav-link px-2 text-white">Editeur</a></li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
            </form>
            <div class="mt-1 text-center">
                <button *ngIf="!isSignin()" type="button" class="btn btn-outline-light me-2" (click)="open(signin)">Connexion</button>
                <button *ngIf="!isSignin()" type="button" class="btn btn-warning" (click)="open(signup)">Inscription</button>
                <button *ngIf="isSignin()" type="button" class="btn btn-danger" (click)="logout()">Déconnexion</button>
            </div>
        </div>
    </div>
</nav>

<ng-template #signup let-modal>
    <app-signup></app-signup>
</ng-template>

<ng-template #signin let-modal>
    <app-signin></app-signin>
</ng-template>