<div class="container">
    <div class="row">
        <div class="col-xl-2">
            {{composition.title}}
        </div>
        <div class="col-xl-8 d-flex justify-content-evenly">
            <fa-icon role="button" (click)="play()" [icon]="!playButton ? faPlay: faPause" size="4x"></fa-icon>
            <fa-icon role="button" (click)="stop()" [icon]="faStop" size="4x"></fa-icon>
            <fa-icon role="button" (click)="!isRecording ? recording() : stopRecording()" [icon]="!isRecording ? faCircle : faDotCircle" size="4x" [styles]="{'stroke': 'black','color': 'red'}"></fa-icon>
            <fa-icon role="button" [icon]="faStepBackward" size="4x"></fa-icon>
            <fa-icon role="button" (click)="skipBackward()" [icon]="faBackward" size="4x"></fa-icon>
            <fa-icon role="button" (click)="skipForward()" [icon]="faForward" size="4x"></fa-icon>
        </div>
        <div class="col-xl-1">
            <!-- Metronome -->
            <button type="button" class="btn btn-outline-info" (click)="open(signin)">Métronome</button>
        </div>
        <div class="col-xl-1">
            <button type="button" class="btn btn-link">Collaborateur(s)</button>
        </div>
    </div>
    <div class="row">
        <!-- Regle -->
        <!-- Sounds -->
        <ng-template ngFor let-track [ngForOf]="composition.tracks" let-i="index">
            <div (click)="setCurTrack(track)" class="col-xl-1 border" [ngClass]="(curTrack.id === track.id) ? 'bg-light border border-primary': '' ">
                {{track.instrument}}
            </div>
            <div class="col-xl-11 border" [ngClass]="(curTrack.id === track.id) ? 'bg-light border border-primary': '' ">
                <ng-template ngFor let-sound [ngForOf]="track.sounds" let-j="index">
                    <app-sound [context]="context" [sound]="sound"></app-sound>
                </ng-template>
            </div>
        </ng-template>
    </div>
    <div>
        <fa-icon class="btn btn-success" (click)="newTrack()" [icon]="faPlus" size="4x"></fa-icon>
    </div>
</div>

<ng-template #signin let-modal>
    <app-signin></app-signin>
</ng-template>