<div class="container">
    <div class="row border mt-2 mb-2">
        <div class="col-xl-2">
            Titre
            <h5>{{composition.title}}</h5>
            <i>de {{composition.owner.pseudo}}</i>   
        </div>
        <div class="col-xl-8 d-flex justify-content-evenly align-self-center border">
            <fa-icon *ngIf="!playButton" role="button" (click)="play()" [icon]="faPlay" size="4x" ngbTooltip="Jouer"></fa-icon>
            <fa-icon *ngIf="playButton" role="button" (click)="play()" [icon]="faPause" size="4x" ngbTooltip="Pause"></fa-icon>
            <fa-icon role="button" (click)="stop()" [icon]="faStop" size="4x" ngbTooltip="Stop"></fa-icon>
            <fa-icon *ngIf="!isRecording" role="button" (click)="recording()" [icon]="faCircle" size="4x" ngbTooltip="Enregistrer"></fa-icon>
            <fa-icon *ngIf="isRecording" role="button" (click)="stopRecording()" [icon]="faDotCircle" size="4x" [styles]="{'stroke': 'black','color': 'red'}" ngbTooltip="Stoper l'enregistrement"></fa-icon>
            <fa-icon role="button" [icon]="faStepBackward" size="4x"></fa-icon>
            <fa-icon role="button" (click)="skipBackward()" [icon]="faBackward" size="4x" ngbTooltip="Retour de 10s"></fa-icon>
            <fa-icon role="button" (click)="skipForward()" [icon]="faForward" size="4x" ngbTooltip="Avance de 10s"></fa-icon>
        </div>
        <div class="col-xl-1 justify-content-evenly align-self-center">
            <!-- Metronome -->
            <button type="button" class="btn btn-secondary" ngbTooltip="Métronome"><fa-icon [icon]="faCog" size="2x"></fa-icon></button>
        </div>
        <div class="col-xl-1 justify-content-evenly align-self-center">
            <button type="button" class="btn btn-secondary" [disabled]="!isCurOwner()" ngbTooltip="Groupe" (click)="openLg(workgroup)"><fa-icon [icon]="faUsers" size="2x"></fa-icon></button>
        </div>
    </div>
    <div class="row">
        <!-- Regle -->
        <!-- Sounds -->
        <ng-template ngFor let-track [ngForOf]="composition.tracks" let-i="index">
            <div (click)="setCurTrack(track)" class="col-xl-1 border" [ngClass]="(curTrack.id === track.id) ? 'bg-light border border-primary': '' ">
                {{track.instrument}}
            </div>
            <div class="col-xl-11 border" [ngClass]="(curTrack.id === track.id) ? 'bg-light border border-primary': '' ">
                <ng-template ngFor let-sound [ngForOf]="track.sounds" let-j="index">
                    <app-sound [context]="context" [sound]="sound"></app-sound>
                </ng-template>
            </div>
        </ng-template>
    </div>
    <div>
        <fa-icon class="btn btn-success" (click)="newTrack()" [icon]="faPlus" size="4x"></fa-icon>
    </div>
</div>

<ng-template #workgroup let-modal>
    <app-workgroup [composition]="composition"></app-workgroup>
</ng-template>