    <div class="card">
        <h5 class="card-header">{{composition.title}}</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-xl-8 col-md-4">
                    <h5 class="card-title">{{composition.owner.pseudo}}</h5>
                    <p class="card-text">{{composition.lastUpdate}} (Last Update)</p>
                    <p class="card-text">{{composition.playsNumber}} vues</p>
                </div>
                <div class="col-xl-4 col-md-8">
                    <button class="btn btn-info button" placeholder="collabortion">
                        <fa-icon [icon]="faHandshake" size="3x" [styles]="{'stroke': 'white', 'color': 'white'}"></fa-icon>
                    </button>
                </div>
            </div>
          <figure>
            <audio controls src="{{composition.blobPath}}">
                Your browser does not support the
                <code>audio</code> element.
            </audio>
        </figure>
        </div>
      </div>