    <div class="card col-xl-4">
        <h5 class="card-header">Titre de la composition</h5>
        <div class="card-body">
          <h5 class="card-title">Nom auteur</h5>
          <p class="card-text">25/03/2021 (Last Update)</p>
          <figure>
            <audio controls src="">
                Your browser does not support the
                <code>audio</code> element.
            </audio>
        </figure>
          <button class="btn btn-primary button">Demande de collabortion</button>
        </div>
      </div>


